<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <span class="help-block">Date : {{ curDateTime }}</span>
        </div>
        <div class="col-md-3">
            <input class="form-control" id="date-input" type="date" name="srchDateTime" [(ngModel)]="srchDateTime">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="srchByDate();">Change Date</button>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body p-3 clearfix">
                    <i class="fa fa-gift bg-danger p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-danger mb-0 mt-2">{{ orderCnt }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Orders</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body p-3 clearfix">
                    <i class="cui-dollar bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">$ {{ totalSales }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Sales</div>
                </div>
            </div>
        </div>
    </div>
</div>
      