<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form (ngSubmit)="schoolSubmit()" #submitForm="ngForm" class="form-horizontal">
          <div class="card-header">
            <strong>School</strong> Settings
          </div>          
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Name</label>
              <div class="col-md-9">
                <input type="text" name="schoolName" [(ngModel)]="schoolName" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Address</label>
              <div class="col-md-9">
                <input type="text" name="schoolAddress" [(ngModel)]="schoolAddress" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Logo</label>
              <div class="col-md-9">
                <img src="{{ base_url }}{{ schoolImg }}" style="height: 64px;">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">File input</label>
              <div class="col-md-9">
                <input type="file" (change)="fileChange($event)" multiple>
                <span (click)="uploadLogo()" class="btn btn-primary" style="margin-left:20px;cursor:pointer;">Upload New Logo</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">WeekOff</label>
              <div class="col-md-9">
                <div class="form-check form-check-inline mr-1">
                  <div *ngIf="onDaysMon; then onDaysMonTrue else onDaysMonFalse"></div>
                  <ng-template #onDaysMonTrue><input class="form-check-input" type="checkbox" name="onDaysMon" checked></ng-template>
                  <ng-template #onDaysMonFalse><input class="form-check-input" type="checkbox" name="onDaysMon"></ng-template>
                  <label class="form-check-label">Mon</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysTue; then onDaysTueTrue else onDaysTueFalse"></div>
                    <ng-template #onDaysTueTrue><input class="form-check-input" type="checkbox" name="onDaysTue" checked></ng-template>
                    <ng-template #onDaysTueFalse><input class="form-check-input" type="checkbox" name="onDaysTue"></ng-template>
                  <label class="form-check-label">Tue</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysWed; then onDaysWedTrue else onDaysWedFalse"></div>
                    <ng-template #onDaysWedTrue><input class="form-check-input" type="checkbox" name="onDaysWed" checked></ng-template>
                    <ng-template #onDaysWedFalse><input class="form-check-input" type="checkbox" name="onDaysWed"></ng-template>
                  <label class="form-check-label">Wed</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysThu; then onDaysThuTrue else onDaysThuFalse"></div>
                    <ng-template #onDaysThuTrue><input class="form-check-input" type="checkbox" name="onDaysThu" checked></ng-template>
                    <ng-template #onDaysThuFalse><input class="form-check-input" type="checkbox" name="onDaysThu"></ng-template>
                  <label class="form-check-label">Thu</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysFri; then onDaysFriTrue else onDaysFriFalse"></div>
                    <ng-template #onDaysFriTrue><input class="form-check-input" type="checkbox" name="onDaysFri" checked></ng-template>
                    <ng-template #onDaysFriFalse><input class="form-check-input" type="checkbox" name="onDaysFri"></ng-template>
                  <label class="form-check-label">Fri</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysSat; then onDaysSatTrue else onDaysSatFalse"></div>
                    <ng-template #onDaysSatTrue><input class="form-check-input" type="checkbox" name="onDaysSat" checked></ng-template>
                    <ng-template #onDaysSatFalse><input class="form-check-input" type="checkbox" name="onDaysSat"></ng-template>
                  <label class="form-check-label">Sat</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <div *ngIf="onDaysSun; then onDaysSunTrue else onDaysSunFalse"></div>
                    <ng-template #onDaysSunTrue><input class="form-check-input" type="checkbox" name="onDaysSun" checked></ng-template>
                    <ng-template #onDaysSunFalse><input class="form-check-input" type="checkbox" name="onDaysSun"></ng-template>
                  <label class="form-check-label">Sun</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Number of Classes</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ classCnt }} Classes</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Number of Holidays</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ holidayCnt }} Holidays</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Number of Meals</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ mealCnt }} Meals</p>
              </div>
            </div>
          </div>
          <div class="card-footer" style="height: 55px;">
            <button type="submit" class="btn btn-sm btn-primary" style="float: right"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger" style="float: left;"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Class Type
          <button type="button" class="btn btn-primary mr-1" id="class_type_modal_open" data-toggle="modal" (click)="formatClassTypeModal();classTypeModal.show()" style="float:right;">
            + Add New
          </button>
        </div>
        <div class="card-body">
          <table id="classTypesTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%"></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Class
          <button type="button" class="btn btn-primary mr-1" id="class_modal_open" data-toggle="modal" (click)="formatClassModal();classModal.show()" style="float:right;">
            + Add New
          </button>
        </div>
        <div class="card-body">
          <table id="classesTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%"></table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Holidays
          <button type="button" class="btn btn-primary mr-1" id="holiday_modal_open" data-toggle="modal" (click)="formatHolidayModal();holidayModal.show()" style="float:right;">
            + Add New
          </button>
        </div>
        <div class="card-body">
          <table id="holidaysTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%"></table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Meals
          <button type="button" class="btn btn-primary mr-1" id="meal_modal_open" data-toggle="modal" (click)="formatMealModal();mealModal.show()" style="float:right;">
            + Add New
          </button>
        </div>
        <div class="card-body">
          <table id="mealsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #classTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <form (ngSubmit)="classTypeSubmit()" #submitForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">{{ classTypeModalTitle }}</h4>
          <button type="button" class="close" (click)="classTypeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"> ID</button>
                </span>
                <input type="text" [(ngModel)]="classTypeId" name="classTypeId" class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> Name</button>
                </span>
                <input type="text" [(ngModel)]="classTypeName" name="classTypeName" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-check-square-o"></i> Status</button>
                </span>
                <select class="form-control" [(ngModel)]="classTypeStatus" name="classTypeStatus" value="enabled">
                  <option value="enabled">Enabled</option>
                  <option value="disabled">Disabled</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="classTypeModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #classModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <form (ngSubmit)="classSubmit()" #submitForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">{{ classModalTitle }}</h4>
          <button type="button" class="close" (click)="classModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"> ID</button>
                </span>
                <input type="text" [(ngModel)]="classId" name="classId" class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> Name</button>
                </span>
                <input type="text" [(ngModel)]="className" name="className" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-check-square-o"></i> Type</button>
                </span>
                <select class="form-control" [(ngModel)]="classType" name="classType" value="enabled">
                  <option *ngFor="let class_type of class_type_list" value="{{ class_type.name }}">{{ class_type.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-check-square-o"></i> Status</button>
                </span>
                <select class="form-control" [(ngModel)]="classStatus" name="classStatus" value="enabled">
                  <option value="enabled">Enabled</option>
                  <option value="disabled">Disabled</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="classModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #holidayModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <form (ngSubmit)="holidaySubmit()" #submitForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">{{ holidayModalTitle }}</h4>
          <button type="button" class="close" (click)="holidayModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"> ID</button>
                </span>
                <input type="text" [(ngModel)]="holidayId" name="holidayId" class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> Name</button>
                </span>
                <input type="text" [(ngModel)]="holidayName" name="holidayName" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> Start Date</button>
                </span>
                <input class="form-control" type="date" name="holidayStartDate" [(ngModel)]="holidayStartDate">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> End Date</button>
                </span>
                <input class="form-control" type="date" name="holidayEndDate" [(ngModel)]="holidayEndDate">
              </div>
            </div>
          </div>          
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-check-square-o"></i> Status</button>
                </span>
                <select class="form-control" [(ngModel)]="holidayStatus" name="holidayStatus" value="enabled">
                  <option value="enabled">Enabled</option>
                  <option value="disabled">Disabled</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="holidayModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #mealModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <form (ngSubmit)="mealSubmit()" #submitForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">{{ mealModalTitle }}</h4>
          <button type="button" class="close" (click)="mealModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"> ID</button>
                </span>
                <input type="text" [(ngModel)]="mealId" name="mealId" class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-user"></i> Name</button>
                </span>
                <input type="text" [(ngModel)]="mealName" name="mealName" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" style="width: 100px;"><i class="fa fa-check-square-o"></i> Status</button>
                </span>
                <select class="form-control" [(ngModel)]="mealStatus" name="mealStatus" value="enabled">
                  <option value="enabled">Enabled</option>
                  <option value="disabled">Disabled</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="mealModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>